@import "~scss/variables";

.sw-product-grouped-assignment {
    .sw-data-grid,
    .sw-empty-state {
        border: 1px solid $color-gray-300;
        border-radius: $border-radius-default;
    }

    .sw-empty-state__description {
        margin-bottom: 0;
    }
}
