<?xml version="1.0"?>
<!--
/*
 * @author digital.manufaktur GmbH
 * @link   https://www.digitalmanufaktur.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Appearance</title>
        <title lang="de-DE">Aussehen</title>

        <input-field type="int">
            <name>defaultQty</name>
            <label>Default quantity</label>
            <label lang="de-DE">Standardmenge</label>
        </input-field>
    </card>
</config>
