{% block sw_product_detail_grouped %}

<div v-if="isLoading">
    <sw-skeleton />
    <sw-skeleton />
</div>

<div v-else
     class="sw-product-detail-grouped">

    {% block sw_product_detail_grouped_items_wrapper %}
    <template v-if="showGroupCard">

        {% block sw_product_detail_grouped_items %}
        <tradelinepro-product-grouped-form
            v-for="item in product.extensions.groups"
            :key="item.id"
            :grouped="item"
            :allow-edit="acl.can('product.editor')"
        />
        {% endblock %}

        {% block sw_product_detail_grouped_add %}
        <sw-button
            class="sw-product-detail-grouped__add-btn"
            variant="ghost"
            @click="onAddGrouped"
            :disabled="!acl.can('product.editor')"
            v-tooltip="tooltipDefault"
        >

            {{ $tc('grouped-products.buttonAddGroup') }}
        </sw-button>
        {% endblock %}

    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_detail_empty_state %}
    <sw-card
        v-else
        position-identifier="sw-product-detail-empty-state"
    >
        <sw-empty-state
            :title="$tc('grouped-products.cardTitleGroupedProducts')"
            :subline="$tc('grouped-products.emptyStateDescription')"
            :absolute="false"
            empty-module
        >
            <template #icon>
                <img
                    :src="assetFilter('/administration/static/img/empty-states/products-empty-state.svg')"
                    :alt="$tc('grouped-products.cardTitleGroupedProducts')"
                >
            </template>

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_product_detail_empty_state_grouped_add %}
                <template #actions>
                    <sw-button
                        v-tooltip="tooltipDefault"
                        variant="ghost"
                        :disabled="!acl.can('product.editor') || !isSystemDefaultLanguage"
                        @click="onAddGrouped"
                    >
                        {{ $tc('grouped-products.buttonAddGroup') }}
                    </sw-button>
                </template>
            {% endblock %}
        </sw-empty-state>
    </sw-card>
    {% endblock %}

</div>
{% endblock %}
